body {
    font-family: 'Poppins', sans-serif;
}

.searchBox {
    display: inline-block;
    position: absolute;
    box-sizing: border-box;
    top: 200px;
    left: 500px;
    width: 1000px;
}

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.example button:hover {
    background: #0b7dda;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}

.list-group {
    display: inline-block;
    position: absolute;
    top: 248px;
    width: 1000px;
    left: 500px;
    color: rgb(21, 82, 196);
    font-weight: bold;
    text-align: center;
}

.spin {
    position: absolute;
    left: 450px;
    top: 200px;
}